html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem;
}
.gm-style {
  color: #000000;
}
.container {
  display: flex;
  gap: 2%;
  padding: 0 30px;
}
#map {
  height: 80vh;
  width: 70%;
}
.stats {
  height: 80vh;
  width: 28%;
  background-color: #fff;
}
#distance {
  color: black;
}
